<div class="row mr-5"> 
  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-img text-center">
        <img width="100" height="100" src="../../../assets/img/user.png" alt="Card image cap">  
      </div>    
      <div class="card-body ">
        <a routerLink = "/administrador"><h5 class="card-title">ADMINISTRADOR</h5></a>
        <p class="card-text">El administrador podra ver y realizar los siguentes tipos de reportes:</p>
        <ul>
          <li>Reporte municipio por zona</li>
          <li>Reporte de llamadas.</li>
          <li>Generacion de mensajes de llamadas</li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-img text-center">
        <img width="100" height="100" src="../../../assets/img/user.png" alt="Card image cap">  
      </div>    
      <div class="card-body">
        <a routerLink = "/direccion"><h5 class="card-title">DIRECCION</h5></a>
        <p class="card-text">La direccion tendra acceso a los siguientes documentos:</p>
        <ul>
          <li>Productores</li>
          <li>Encucestas</li>
          <li>Reporte</li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-img text-center">
        <img width="100" height="100" src="../../../assets/img/user.png" alt="Card image cap">  
      </div>    
      <div class="card-body">
        <a><h5 class="card-title">TECNICO</h5></a>
        <p class="card-text">Los tecnicos son los encargados de llenar la informacion:</p>
        <ul>
          <li><a routerLink= "/productores">Productores</a></li>
          <li><a routerLink= "/encuestas">Encuestas</a></li>
          <li><a routerLink= "/tecnico_reporte">Reporte</a></li>
        </ul>
      </div>
    </div>  
  </div>
</div>