<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	    <div class="navbar-header">
	      	<a class="navbar-brand" routerLink = "/menu" >Encuestas SAG</a>
	    </div>
	    <ul  id="navbar" class="nav navbar-nav">
	      	<li><a routerLink = "/menu">Cerrar Sesión</a></li>
	      	<li><a href="#"></a></li>
	      	<!--<li class="pull-right"><a href="#" style="color: white;"><?php echo $_SESSION['nombreUsuario']; ?></a></li>-->
	    </ul>
	</div>
</nav>
	
<div class="container">
	<div class="row"> 
	  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
	    <div class="card">
	      <div class="card-img text-center">
	        <img width="100" height="100" src="../../../assets/img/cacao.jpg" alt="Card image cap">  
	      </div>    
	      <div class="card-body ">
	        <a ><h5 class="card-title">PRODUCTORES</h5></a>
	        <p class="card-text">Los productores que ya estan en el sistema:</p>
	      </div>
	    </div>  
	  </div>

	  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
	    <div class="card">
	      <div class="card-img text-center">
	        <img width="100" height="100" src="../../../assets/img/encuesta.jpg" alt="Card image cap">  
	      </div>    
	      <div class="card-body">
	        <a><h5 class="card-title">ENCUESTAS</h5></a>
	        <p class="card-text">Encuestas que se haran proximamente:</p>
	      </div>
	    </div>  
	  </div>

	  <div class="col-12 col-sm-10 col-md-8 col-lg-4 col-xl-4">
	    <div class="card">
	      <div class="card-img text-center">
	        <img width="100" height="100" src="../../../assets/img/reporte.jpg" alt="Card image cap">  
	      </div>    
	      <div class="card-body">
	        <a><h5 class="card-title">REPORTES</h5></a>
	        <p class="card-text">Reporte de las encuestas que se realizaron:</p>
	      </div>
	    </div>  
	  </div>
	</div>
</div>